# Server
PORT=3001
NODE_ENV=development

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/omniseller"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# EasyPost
EASYPOST_API_KEY=
DEFAULT_SHIP_FROM_NAME=OmniSeller
DEFAULT_SHIP_FROM_COMPANY=OmniSeller
DEFAULT_SHIP_FROM_STREET1=123 Main St
DEFAULT_SHIP_FROM_STREET2=
DEFAULT_SHIP_FROM_CITY=Endicott
DEFAULT_SHIP_FROM_STATE=NY
DEFAULT_SHIP_FROM_ZIP=13760
DEFAULT_SHIP_FROM_COUNTRY=US
DEFAULT_SHIP_FROM_PHONE=5555555555

# eBay
EBAY_API_BASE=https://api.ebay.com

# API
API_PREFIX=api/v1
